body {
    background-color: #104F55;
    text-align: center;
    color: #9EC5AB;
    font-family: 'main';
    font-size: 30px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

@font-face {
    font-family: 'main';
    src: url(./mainfont.ttf);
}

input {
    background-color: #9EC5AB;
    border: 3px solid #32746D;
    font-family: 'main';
    font-size: large;
    
}

button {
    background-color: #9EC5AB;
    color: #104F55;
    border: 3px solid #32746D;
    font-family: 'main';
    font-size: large;
}

